# 忽略 Git 相关文件
.git/

# 忽略 Visual Studio 相关文件
/Compiler/Super-CPP20-VS2022/.vs/

# 忽略 ICU 库相关文件
/Compiler/Super-CPP20-VS2022/env/icu4c-77_1-Win64-MSVC2022/

# 忽略编译生成的文件
/Compiler/Super-CPP20-VS2022/Super-CPP/x64/
Super-CPP.pdb