# 忽略 Git 相关文件
.git/

# 忽略 Visual Studio 相关文件
/Compiler/Super-CPP20-VS2022/.vs/

# 忽略 ICU 库相关文件
/Compiler/Super-CPP20-VS2022/env/icu4c-77_1-Win64-MSVC2022/

# 忽略编译生成的文件
/Compiler/Super-CPP20-VS2022/Super-CPP/x64/

# 忽略编译生成的文件
/Compiler/Super-CPP20-VS2022/x64/Debug/Super-CPP.pdb
/Compiler/Super-CPP20-VS2022/x64/Debug/concrt140d.dll
/Compiler/Super-CPP20-VS2022/x64/Debug/libomp140.x86_64.dll
/Compiler/Super-CPP20-VS2022/x64/Debug/libomp140d.x86_64.dll
/Compiler/Super-CPP20-VS2022/x64/Debug/msvcp140_1d.dll
/Compiler/Super-CPP20-VS2022/x64/Debug/msvcp140_2d.dll
/Compiler/Super-CPP20-VS2022/x64/Debug/msvcp140d.dll
/Compiler/Super-CPP20-VS2022/x64/Debug/msvcp140d_atomic_wait.dll
/Compiler/Super-CPP20-VS2022/x64/Debug/msvcp140d_codecvt_ids.dll
/Compiler/Super-CPP20-VS2022/x64/Debug/ucrtbased.dll
/Compiler/Super-CPP20-VS2022/x64/Debug/vcamp140d.dll
/Compiler/Super-CPP20-VS2022/x64/Debug/vccorlib140d.dll
/Compiler/Super-CPP20-VS2022/x64/Debug/vcomp140d.dll
/Compiler/Super-CPP20-VS2022/x64/Debug/vcruntime140_1d.dll
/Compiler/Super-CPP20-VS2022/x64/Debug/vcruntime140_threadsd.dll
/Compiler/Super-CPP20-VS2022/x64/Debug/vcruntime140d.dll